<div class="container card">
<h1>{{name}}</h1>
{{#if group}}
<div class="group-info">From: {{group}}</div>
{{/if}}
<div id="routine_timer_display">
</div>
<div class="buttons">
    <a class="btn btn-blue" id="pause">Pause</a>
    <a class="btn btn-red" id="end">End</a>
    <a style="display: none;" class="btn btn-green" id="ok">OK</a>
</div>
</div>