<div class="container card">
<h1>{{name}}</h1>
<div id="routine_timer_display">
</div>
<div class="buttons">
    <a class="btn btn-primary" id="pause">Pause</a>
    <a class="btn btn-secondary" id="end">End</a>
    <a style="display: none;" class="btn btn-primary" id="ok">OK</a>
</div>
</div>