<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-status-bar" content="#db4938">
    <meta name="theme-color" content="#db4938">
    <title>Fitness Routine Timer</title>
  </head>
  <body>
    <div id="app">
      <h1>Fitness Routine Timer</h1>
      <div id="routine_list"></div>
      <div id="routine_detail"></div>
      <div id="routine_timer"></div>
      <footer>Version <%= process.env.VERSION %>, <%= process.env.BUILD_DATE %></footer>
    </div>
  </body>
</html>
