@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fdfdfd;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
}

main {
  max-width: 900px;
  margin: auto;
  padding: 0.5rem;
  text-align: center;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detail-container{
  text-align: left;
}

.detail-container summary{
  font-size: large;
}

.detail-container details div{
  margin-left: 1rem;
}

h1 {
  color: #e74c3c;
  margin: 0.5rem;
}
.container {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(5rem, 1fr));
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 1rem 0;
}
.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 10px;
  margin: auto;
  overflow: hidden;
}

.btn{
	display:inline-block;
	cursor:pointer;
	font-size:1.8rem;
	font-weight:bold;
	padding:0.5rem 1rem;
	text-decoration:none;
	border-radius:0.5rem;
}
.btn-secondary {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	color:#ffffff;
	text-shadow:0px 1px 0px #3d768a;
}
.btn-secondary:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.btn-secondary:active {
	position:relative;
	top:1px;
}

.btn-primary {
	box-shadow: 0px 10px 14px -7px #3e7327;
	background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
	background-color:#77b55a;
	border:1px solid #4b8f29;
	color:#ffffff;
	text-shadow:0px 1px 0px #5b8a3c;
}
.btn-primary:hover {
	background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
	background-color:#72b352;
}
.btn-primary:active {
	position:relative;
	top:1px;
}
.paused{
  font-size: 4rem;
  color: red;
}
#interval_time_left{
  font-size: 3rem;
  color: green;
}
#interval_current{
  font-size: 1.5rem;
  color: green;
  font-weight: 700;
}
#coming_up{
  font-size: 1.5rem;
  text-align: left;
}
.buttons{
  display: flex;
  flex-direction: row;
  align-content: space-around; 
  width: 100%;
}
.buttons a{
  flex: 1;
}
#time_left{
  font-size: 1.5rem;
}