name: Build
on:
  push:
    branches: [master]
    paths-ignore:
    - 'docs/**'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: actions/checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0 # otherwise, you will failed to push refs to dest repo
      - name: actions/setup-node
        uses: actions/setup-node@v2
        with:
          node-version: "12"
      - name: Setup Environment
        run: npm install
      - name: Build
        run: npm run build
      - name: Commit files
#        uses: actions/checkout@v2
        run: |
          date > docs/updated.txt
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add -f docs/**
          git commit -m "Add built assets"
          git push
